/* able to delete this */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HOMEPAGE */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

  /* header {

  } */

#navigationBar {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
}

#navigationBar a:link, #navigationBar a:visited, #navigationBar a:active {
  text-decoration: none;
  color: black;
}

#navigationBar a:hover {
  cursor: pointer;
}

#logInSignUp a:link, #logInSignUp a:visited, #logInSignUp a:active {
  text-decoration: none;
  color: black;
}

#logInSignUp a:hover {
  cursor: pointer;
}

/* END HOMEPAGE */